<div class="formulario-idea">
  <h2>Crear Idea</h2>
  <form [formGroup]="formularioIdea" (ngSubmit)="alEnviar()">
    <div class="agregar-titulo">
      <label for="titulo" class="etiqueta-titulo">Título de la idea</label>
      <input type="text" id="titulo" formControlName="titulo" class="entrada-titulo">
      @if (formularioIdea.get('titulo')?.invalid && formularioIdea.get('titulo')?.touched) {
        <div class="mensaje-error">
          El titulo es obligatorio
        </div>
      }
    </div>

    <div class="agregar-descripcion">
      <label for="descripcion" class="etiqueta-descripcion">Descripcion</label>
      <textarea id="descripcion" formControlName="descripcion" class="entrada-descripcion" rows="3"></textarea>
      @if (formularioIdea.get('descripcion')?.invalid && formularioIdea.get('descripcion')?.touched) {
        <div class="mensaje-error">
          La descripcion es obligatorio
        </div>
      }
    </div>

    <div class="agregar-categoria">
      <label for="categoria" class="etiqueta-categoria">Categoría</label>
      <select id="categoria" formControlName="categoria" class="entrada-categoria">
        <option value="" disabled>Selecciona una categoria</option>
        @for (categoria of categorias; track categoria) {
          <option [value]="categoria">{{ categoria }}</option>
        }
      </select>
      @if (formularioIdea.get('categoria')?.invalid && formularioIdea.get('categoria')?.touched) {
        <div class="mensaje-error">
          La categoria es obligatoria
        </div>
      }
    </div>

    <div class="agregar-estado">
      <label for="estado" class="etiqueta-estado">Estado</label>
      <select id="estado" formControlName="estado" class="entrada-estado">
        @for (estado of estados; track estado) {
          <option [value]="estado">{{ estado }}</option>
        }
      </select>
    </div>

    <button type="submit" class="boton-crear" [disabled]="formularioIdea.invalid">Guardar Idea</button>
  </form>
</div>
